
  .main-container {
    height: 100%;
    width: 100%;
  }
  
  .top-container {
    display: flex;
    min-height: 5%;
    width: 100%;
  }
  
  .bottom-container {
    display: flex;
    flex-direction: row;
    
    min-height: 95%;
    width: 100%;
  }
  