#root {
  /* Make the container take full height and width of the viewport */
  width: 100%;
  height: 100%;
  
  /* Position the container relative to the viewport */
  position: fixed;
  
  /* Set top and left edges to 0 to align with the viewport */
  top: 0;
  left: 0;
  
  /* Optional: Add other styles as needed */
  background-color: lightgray; /* Example background color */
  /* Other styles */
  
  text-align: center;
}

.main-container {
  height: 100%;
  width: 100%;
}

.top-container {
  display: flex;
  min-height: 5%;
  width: 100%;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  
  min-height: 95%;
  width: 100%;
}


